<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container mt-5">
        <h2>Holiday is coming</h2>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="mt-auto py-3 bg-light text-center">
        <p>&copy; 2024 social app by p23-e06 students </p>
    </footer>
</body>
</html>
